.fc-left {
    margin-left: 5px;
}

@media screen and (max-width: 850px) {

    #updateInfosH,
    #update span:first-child {
        display: none;
    }

    .fc-toolbar {
        flex-direction: row;
        font-size: 75%;
        margin-bottom: 3px !important;
    }

    .fc-toolbar>*> :not(:first-child) {
        margin-left: 0.15em !important;
    }

    .fc-toolbar .btn-group:first-child {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .fc-toolbar button {
        font-size: 95%;
        padding: .30rem .45rem;
    }

    .fc-left {
        flex: 0 0 50%;
    }

    .fc-right>div {
        flex: 0 0 30%;
    }

    .fc-right>div:first-child {
        flex: 0 0 70%;
    }

    .fc-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.fc-toolbar {
    margin-top: 8px !important;
    margin-bottom: 10px !important;
}

#load h1 {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    transform: translate(-50%);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 130px;
    height: 130px;
    margin: -65px 0 0 -65px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.popup_marge {
    padding-left: 15px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}