body {
    text-align: center;
}

.btn-large {
    display: block;
    font-size: 26px;
    margin-bottom: 10px;
}

#btnList {
    width: 333px;
    margin: auto;
    margin-bottom: 30px;
}

.infos {
    font-size: 175%;
    vertical-align: middle;
}

.switch {
    display: inline-block;
    vertical-align: middle;
}

.switch label input[type=checkbox]+.lever:after,
.switch label input[type=checkbox]+.lever {
    background-color: #f44336 !important;
    transform: scale(1.1);
}

.switch label input[type=checkbox]:checked+.lever:after,
.switch label input[type=checkbox]:checked+.lever {
    background-color: #8bc34a !important;
}