<!DOCTYPE html>
<html lang="en">

<head>
    <title>EtuEDT - FAQ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>css}}
    <link href="/css/faq.css" rel="stylesheet">
</head>

<body>
    {{>header}}

    <div class="container container-base">
        <h3 class="blue" style="margin-top: 0px;">Synchronisation avec Google Agenda</h3>
        <p>
            L'application permet de synchroniser automatiquement votre emploi du temps avec Google Agenda
            <ol>
                <li>
                    Rendez-vous sur la page de consultation de l'EDT, et cliquez sur l'icone de lien
                    <span class="infos">
                        (<i class="clipboard fas fa-link"></i>)
                        <br />Le lien contenant les informations de l'EDT va être copié dans votre presse-papier
                    </span>

                </li>
                <li>
                    Rendez-vous sur <a href="https://calendar.google.com/">Google Agenda</a>
                </li>
                <li>
                    Ajoutez un nouvel emploi du temps via cette catégorie :
                    <span class="infos">
                        <img src="https://i.imgur.com/93ipZJK.png" />
                        <br />Vous devez choisir la sous-catégorie : "À partir de l'URL"
                    </span>
                </li>
                <li>
                    Copiez l'URL que vous avez dans votre presse-papier et validez
                </li>
            </ol>
        </p>
    </div>

    {{>js}}
</body>

</html>